<!-- Thống kê tài liệu.Begin -->
<ul class="nav sidebar-menu useScrollBar">
    <li>
        <a class="menu-dropdown" href="javascript:;">
            <i class="menu-icon fa fa-refresh"></i>
            <span class="menu-text">@Locate.T("Sao lưu khôi phục")</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu" style="display: none">
            <li>
                <a href="@Locate.Url("/custbackup.html")">
                    <i class="menu-icon fa fa-refresh"></i>
                    <span class="menu-text next_has_star">@Locate.T("Sao lưu khôi phục")</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- Thống kê tài liệu.End -->